{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <div class="row">
        <div id="lift-stuff-app"></div>
    </div>
    <br><br><br><br><br><br>
    <hr />
{% endblock %}